[Desktop Entry]
Name=Xmind
Exec=xmind %U
Terminal=false
Type=Application
Icon=net.xmind.XMind
StartupWMClass=Xmind
StartupNotify=true
Comment=Xmind - The most popular mind mapping software.
MimeType=application/xmind;x-scheme-handler/xmind;x-scheme-handler/xmind-zen;
Categories=Office;